ul {
  flex-wrap: nowrap;
  font-size: 1.2em;
  list-style: none;
}

footer {
  bottom: 115px;
  color: #000000;
  padding: 0 10px 0 0;
  position: fixed;
  right: 420px;
  text-align: right;
}

.background {
  display: block;
  margin: 0 auto;
  position: fixed;
  top: 100px;
  width: 85%;
}

.city-name {
  font-family: "Monoton", cursive;
  font-size: 6em;
  margin: 20px 20px 30px;
  padding: 0 0 10px 0;
}

.city-search-bar {
  box-sizing: border-box;
  max-width: 250px;
  position: fixed;
  right: 650px;
  top: 125px;
}

.btn-search {
  color: rgba(0, 0, 255, 0.479) !important;
  position: fixed;
  top: 125px;
  right: 550px;
}

.btn-current {
  background: rgba(0, 0, 255, 0.637) !important;
  border: rgba(0, 0, 255, 0.637) !important;
  color: white !important;
  position: fixed;
  top: 125px;
  right: 450px;
}

.btn-current:hover {
  background: rgba(4, 0, 122, 0.637) !important;
}

.box-body {
  align-items: top;
  background: rgba(206, 206, 206, 0.096);
  backdrop-filter: saturate(180%) blur(50px);
  border-radius: 30px;
  box-sizing: content-box;
  display: block;
  height: 200px;
  justify-content: center;
  margin: 0 auto;
  padding: 100px 10px 100px;
  width: 90%;
}

.current-temperature {
  font-family: "Gruppo", cursive;
  font-size: 10em;
  padding: 0 0 30px;
  position: relative;
  top: -100px;
}

.current-weather {
  font-family: "Gruppo", cursive;
  font-size: 1.2em;
  display: block;
  margin: 0 auto;
  position: fixed;
  top: 225px;
}

.units {
  font-family: "Gruppo", cursive;
  font-size: 0.2em;
  position: relative;
  top: -60px;
}

.projected-forecast {
  font-family: "Monoton", cursive;
  font-size: 2em;
  position: fixed;
  top: 30px;
  right: 160px;
}

.card.forecast {
  font-family: "Gruppo", cursive;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: saturate(180%) blur(10px);
  border: none;
  border-radius: 30px;
  font-size: 1.5em;
  text-align: center;
  display: block;
  margin: 0 auto;
  position: fixed;
  top: 100px;
  right: 50px;
}

.forecast-day {
  font-family: "Gruppo", cursive;
  color: #ffffff;
  font-size: 1.2em;
}
