footer {
  text-align: right;
  padding: 0 10px 0 0;
}

.background {
  display: block;
  margin: 0 auto;
  padding: 0 0 30px 0;
  position: fixed;
  top: 100px;
  width: 85%;
}

.box-body {
  background: rgba(206, 206, 206, 0.096);
  backdrop-filter: saturate(180%) blur(10px);
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  padding: 50px 100px;
  width: 90%;
}

.card.forecast {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: saturate(180%) blur(10px);
  border: none;
  border-radius: 30px;
  text-align: center;
  max-width: 60%;
  display: block;
  margin: 0 auto;
}

.forecast-day {
  color: #ffffff;
  font-size: 1.3em;
}
