body {
  width: 1000px;
  background: #f1ac17cc;
  background-attachment: fixed;
  background-image: url("../images/sunrise.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 8em;
  width: 100%;
  margin: 0;
  padding: 0 0 30px 0;
  position: fixed;
  top: 50px;
  left: 30px;
}

p {
  color: #ffffff;
  font-size: 18px;
}

h2 {
  font-size: 3.5em;
  position: fixed;
  top: 160px;
  left: 130px;
}

h3 {
  color: #ffffff;
  text-align: center;
  position: fixed;
  top: 0;
  left: 44%;
}

h4 {
  font-size: 1.6em;
  position: fixed;
  text-align: center;
  top: 340px;
  left: 44%;
}

h2,
.col {
  font-family: "Corben", cursive;
  color: #ffffff;
  display: block;
  margin: 0 auto;
}

h1,
h4,
p,
.btn-light,
.temp {
  font-family: "Rajdhani", sans-serif;
  color: #ffffff;
}

div.card.forecast {
  border-radius: 30px;
  border-width: 80%;
  padding: var(0) var(0);
  --bs-card-bg: none;
  padding: 0 0 10px 0;
  display: block;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 375px;
}

ul.additional-weather {
  font-size: 20px;
  position: fixed;
  top: auto;
  left: 30px;
}

.city-search {
  width: 600px;
  position: fixed;
  top: 15px;
  right: 0;
}

.btn-light {
  width: 100px;
  top: 15px;
  margin: 0 10px;
  color: #000000;
  height: 100%;
  position: relative;
  top: 15px;
}

.btn-success {
  width: 100px;
  top: 15px;
}

.col {
  font-size: 1.2em;
  background: rgba(63, 63, 63, 0.5);
}

.temp {
  font-size: 0.9em;
}
